body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7fa;
  color: #333;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  background-color: #ffffff;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  overflow: hidden;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  font-size: 3rem;
  color: #2e3b4e;
  margin: 0;
}

p {
  font-size: 1.2rem;
  color: #777;
  margin: 0;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-field {
  padding: 10px;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  transition: border 0.3s;
  flex: 1;
  margin-right: 10px; /* Adjust the spacing as needed */
}

.input-field:focus {
  border-color: #3498db;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.submit-button:disabled {
  background-color: #aaa;
}

.submit-button:hover {
  background-color: #2980b9;
}

.input-specs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

label {
  font-size: 1.1rem;
  color: #777;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.qnumber {
  font-size: 1.1rem;
  color: #777;
  margin-right: 20px;
}

.multiple-choice {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.toggle-latex {
  margin-top: 20px;
}

.toggle-button {
  background-color: #2ecc71;
  font-size: 1.1rem;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button:hover {
  background-color: #27ae60;
}

/* Loading Spinner */
.loading-wheel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinner {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.PDFView {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

.latex-code {
  margin-top: 20px;
}

.latex-textarea {
  width: 100%;
  font-family: monospace;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  font-size: 1rem;
  resize: vertical;
}

embed {
  width: 100%;
  height: 100%;
  border: none;
}
